.avatar-panel {
	padding-top: 40px;
	padding-bottom: 12px;
	background-color: #CC6600;
}

.col-md-8.current-user {
	text-align: center;
	padding-top: 12px;
}

p.supplier-name {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}

.row.nav-bar {
	margin-top: 10px;
}

.supplier-container {
	margin-left: 30px;
}

.sidebar-nav-fixed {
	width:20%;
}

.col-md-9.content-container {
	position: relative;
	left: 300px;
}

thead {
	background-color: #CC6600;	
}

th {
	border: none;
}

h2.supply-header {
	margin-left: 15px;
	margin-bottom: 20px;
}

.row.add-supply {
	left: 160px;
	position: relative;
}

.col-md-6.new-supply {
	background-color: #CC6600;
	margin-bottom: 40px;
}

.new-supply > h2 {
	color: #fff;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.pull-bottom {
	position: relative;
	top: 23px;
	right: 19px;
}